<div print-section class="barcode-container col-sm-6">
    <div class="barcode-wrapper">
        <div>
            <div class="col-sm-12">
                <span class="text-center col-sm-12" ng-if="cloth.price.yarnName"> {{cloth.price.yarnName}}</span>
                <span class="text-center col-sm-12"> {{cloth.price.designName}}</span>
                <span class="text-center col-sm-12"> {{cloth.price.sizeName}}</span>
                <span class="text-center col-sm-12"> PO ({{cloth.order_no}})</span>

            </div>
        </div>
    </div>
</div>

<div print-section class="barcode-container col-sm-6">
    <div class="barcode-wrapper">
        <div>
            <div class="col-sm-12">
                <span class="text-center col-sm-12" ng-if="cloth.price.yarnName"> {{cloth.price.yarnName}}</span>
                <span class="text-center col-sm-12"> {{cloth.price.designName}}</span>
                <span class="text-center col-sm-12"> {{cloth.price.sizeName}}</span>
                <span class="text-center col-sm-12">  PO ({{cloth.order_no}})</span>

            </div>
        </div>
    </div>
</div>

