/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.nav > li.active > a {
    text-decoration: none;
    background-color: #eee;
}

/*.flash-msg{*/
/*display: table;*/
/*margin: 15px 0;*/
/*}*/

.barcode-wrapper {
    margin: 10px 0 0;
}

.barcode-wrapper p {
    padding: 0;
    margin: 0;
    line-height: 1.2;
    text-align: center;
    font-size: 11px;
}

.barcode-container {
    display: table;
}

.barcode-number {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
}

input[type=checkbox] {
    height: 14px;
    width: 14px;
}

.action-buttons {
    display: table;
    margin: 15px 15px 0;
}

.search-container {
    margin-top: 15px;
    display: table;
    width: 100%;
}

.input-margin {
    margin-bottom: 10px;
}

.no-padding {
    padding: 0;
}

.barcode-action-buttons {
    padding: 30px 0 0 15px;
}

.print-button {
    margin-right: 10px;
}

@media print {

    div.barcode-wrapper {
        display: block;
        page-break-before: always;
    }

    .barcode-container {
        margin: -100px 0;
    }
}

.barcode-details {
    width: 170px;
    margin: 0 auto;
}

/* bootstrap override */

.alert {
    margin: 15px 15px 0 15px;
    padding: 10px;
}

.alert span {
    padding: 2px;
}

.alert-dismissible .close {
    right: 0;
}

.pagination {
    margin: 0;
}

/* end of bootstrap override */

/* selectize-override */
.selectize-control {
    height: 34px;
}

.selectize-input {
    height: 34px;
    padding: 6px 12px;
}

.selectize-input input {
    font-size: 14px;
}

/*@page {*/
/*size: auto;*/
/*margin:30px;*/
/*}*/

.action-buttons button p {
    margin: 0;
    padding: 0;
}

.action-buttons div {
    margin-right: 5px;
}

.input-symbol {
    position: relative;
}

.input-symbol span {
    position: absolute;
    transform: translate(0, -50%);
    top: 50%;
    pointer-events: none;
    margin-left: 1em;
}

.input-symbol input {
    text-indent: 0.7em;
}

.cloth-post-warning {
    background-color: rgba(139, 0, 0, 0.5);
}

.cloth-pre-warning{
    background-color: rgba(255, 204, 0, 0.5);
}

#dataTables-example > tbody > .shipped {
    background-color: rgba(0, 153, 0, 0.5);
}

.horizontal-scroll {
    overflow-y: scroll;
}

.horizontal-scroll .table {
    font-size: 12px;
    width: 100%;
    max-width: 100%;
}

.ngDialog-table-wrapper {
    margin: 20px;
}

.ngdialog-content {
    width: 90% !important;
}

.form-wrapper {
    padding: 15px 0;
}

/*over ride bootstrap panel properties*/
.panel {
    margin-bottom: 0px;
}

.search-btn-wrapper {
    margin-left: 15px;
    display: table;
}

.search-btn-wrapper div {
    margin-right: 5px;
}

.clickable-td {
    color: blue;
    cursor: pointer;
}

