<div class="row">
    <div class="flash-msg" flash-message="3000"></div>
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default valign">
            <div class="panel-heading">
                Please enter the price details.
            </div>
            <div class="panel-body">
                <form ng-submit="ctrl.submitPrice()" class="form-group">

                    <div class="form-group">
                        <label>Customer</label>
                        <selectize config="myConfig" options="ctrl.options.customers"
                                   ng-change="ctrl.getDesignsandYarns(ctrl.price.customer.id)"
                                   ng-model="ctrl.price.customer.id"></selectize>
                    </div>

                    <div class="form-group" ng-show="ctrl.price.customer.id">
                        <label>Design</label>
                        <selectize config="myConfig" options="ctrl.options.designs"
                                   ng-model="ctrl.price.designId"></selectize>
                    </div>

                    <div class="form-group" ng-show="ctrl.price.customer.id">
                        <label>Yarn</label>
                        <selectize config="myConfig" options="ctrl.options.yarns"
                                   ng-model="ctrl.price.yarnId"></selectize>
                    </div>

                    <div class="form-group" ng-show="ctrl.price.customer.id">
                        <label>Size</label>
                        <selectize config="myConfig" options="ctrl.options.sizes"
                                   ng-model="ctrl.price.sizeId"></selectize>
                    </div>

                    <div class="form-group">
                        <label for="amount">Amount:</label>

                        <div class="input-symbol">
                            <span class="currency-input">{{ ctrl.price.customerCurrency }}</span>
                            <input class="form-control" ng-model="ctrl.price.amount" type="text" id="amount"
                                   autocomplete="off" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
