<div class="row">
    <div class="flash-msg" flash-message="3000"></div>
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default valign">
            <div class="panel-heading">
                Please enter the design details.
            </div>
            <div class="panel-body">
                <form ng-submit="ctrl.submitDesign()" class="form-group">
                    <div class="form-group">
                        <label for="name">Design Name:</label>
                        <input class="form-control" ng-model="ctrl.design.name" type="text" id="name" autocomplete="off" required>
                    </div>

                    <div class="checkbox" ng-show="ctrl.showCheckbox">
                        <label>
                            <input type="checkbox" ng-model="ctrl.design.parentName">
                            Sub Design?
                        </label>
                    </div>

                    <div class="form-group" ng-show="ctrl.design.parentName">
                        <label>Design Parent</label>
                        <selectize ng-disabled="ctrl.disableEdit" ng-model="ctrl.design.parentId" options="ctrl.options.designParents"></selectize>

                    </div>


                    <div class="form-group">
                        <label>Customer Name</label>
                        <selectize ng-disabled="ctrl.disableEdit" ng-model="ctrl.design.customerId" options="ctrl.options.customers"></selectize>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
