<div class="row form-wrapper">
    <div class="flash-msg" flash-message="3000"></div>
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                Please enter the cloth details.
            </div>
            <div class="panel-body">
                <form ng-submit="ctrl.submitCloth()">
                    <div class="form-group">
                        <label for="orderNo">Order No</label>
                        <input class="form-control" type="text" ng-model="ctrl.cloth.orderNo" id="orderNo" autocomplete="off" required>
                    </div>

                    <div class="form-group">
                        <label>Customer</label>
                        <selectize ng-model="ctrl.cloth.customerId" config="{maxOptions: 100}" ng-change="customerSelected(ctrl.cloth.customerId)" options="options.customers"></selectize>
                    </div>

                    <div class="form-group">
                        <label>Yarn</label>
                        <selectize ng-model="ctrl.cloth.yarnId" config="{maxOptions: 100}" ng-change="yarnSelected(ctrl.cloth.yarnId)" options="options.yarns" required></selectize>
                    </div>

                    <div class="form-group">
                        <label>Design</label>
                        <selectize class="design-input" config="{maxOptions: 100}" ng-change="fetchSize()" ng-model="ctrl.cloth.designId" options="options.designs" required></selectize>
                    </div>

                    <div class="form-group">
                        <label>Size</label>
                        <selectize ng-model="ctrl.cloth.sizeId" config="{maxOptions: 100}" options="options.sizes" required></selectize>
                    </div>

                    <div class="form-group">
                        <label>Color</label>
                        <selectize ng-model="ctrl.cloth.colorId" config="{maxOptions: 100}" options="options.colors" ng-change="colorSelected(ctrl.cloth.colorId)"required></selectize>
                    </div>

                    <div class="form-group">
                        <label>Color Code</label>
                        <input class="form-control" type="text" ng-model="ctrl.cloth.colorCode" ng-disabled="true">
                    </div>

                    <div class="form-group">
                        <label for="deliveryDate">Delivery Date</label>
                        <input type="text" id='deliveryDate' class="form-control date-picker-new datepopup" name="date" data-ng-click="open($event,'adddate')" data-datepicker-popup="{{format}}" data-ng-model="ctrl.cloth.delivery_date" data-is-open="datepickers.adddate" data-min-date="self.minimum_date" data-close-text="Close" ng-change="ctrl.deliveryDateSet()" required/>
                    </div>


                    <div class="form-group">
                        <label>Print</label>
                        <selectize ng-model="ctrl.cloth.printId" config="{maxOptions: 100}" options="options.prints" required></selectize>
                    </div>

                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input class="form-control" type="text" ng-model="ctrl.cloth.quantity" id="quantity" autocomplete="off" required>
                    </div>

                    <div>
                        <input type="submit" class="btn btn-primary" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
